
.box {
  padding-bottom: 5px;
  width: 150px;
  border: solid;
}

.box_group {
  padding-bottom: 5px;
  width: 180px;
  border: solid;
}

.button_chat_style {
  color: blue;
}

.button_chat_group_style {
  color: blue;
}

.button_delete_style {
  color: red;
}

.button_exit_style {
  color: red;
}

.button_invite_style {
  color: green;
}

.button_disband_style {
  color: red;
}

.friends {
  width: 160px;
  height: 100%;
  float: left;
}

.groups {
  width: 200px;
  height: 100%;
  float: left;
}

.new_msg {
  color: red;
}